<div class="row">
  <div class="column1" style="background-color:#aaa;">
    <%= image_tag("img_avatar.png", width:"150px") %>
  </div>
  <div class="column2" style="background-color:#bbb;">
    <h2><%= @user.name %></h2>
    <p class="right">Number of Posts <%= @count %></p>
  </div>
</div>

<div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
</div>


      <% i=0 %>  
     <% @posts.each do |post| %>
      <% i=i+1 %> 
  <div class="post">
   <p><b> Post #  <%= i.to_s %> </b> </p>
    <p><%= post.Text %> </p>
  <p class="right"> Comments: <%=post.CommentsCounter %>  Likes <%=post.LikesCounter %> </p>
  </div>
  
    <%end %>


<button class="center"> See all posts </button>